body{
    font-size:16px;
    
    font-family:"Menlo", sans-serif;
    font-weight:400;
    line-height:1.8em;
    background-color: #111111;
}

.background{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 0.7;
}
  
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    background: #22222287;
    height:100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation li {
    flex-basis: 10%;
    flex-shrink: 1;
    padding-left: 20%;
    padding-right: 20%;
}

.navigation a {
    text-decoration: none;
    display: block;
    color: aliceblue;
    font-size: 20px;
    transition: font-size 0.05s ease-in;
    text-decoration: none;
    padding-top: 10%;
    padding-bottom: 10%;

    text-align: center;
    flex-direction: row;
}

.navigation a:hover {
    background: #656565b5;
    font-size: 30px;
    cursor: pointer;
}

.mainpage{
    height: inherit;
}

.identityDisplay {
    position: absolute;
    left:20%;
    width: 80%;
    background-color: rgba(179, 188, 194, 0.848);
}
.centeredText {

    position: relative;
    text-align: center;  }

.aboutMe {
    margin-top: 2%;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #111111;
}
.aboutMe:before {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background-color: #111111;
    ;
    left: 0;
    top: 50%;
    position: absolute;
}

.aboutMe:after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background-color: #111111;
    right: 0;
    top: 50%;
    position: absolute;
}

.summaryAndpicture{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;

}

.summaryBox {
    max-width: 81%;
    width: fit-content;
}
.summary {
    position: relative;
    margin-left: 10%;
    margin-right: 5%;
    color:rgb(39, 41, 43);
    font-family: Calibri;
    font-size: large;
    text-align: justify;
}

#summaryTitle{
    font-weight: bolder;
    font-size: 30px;
}

.summary li {
    font-weight: bolder;
}


.picture {
    opacity: 0.95;
    background-color:rgba(208, 207, 207, 0.69);
    border-radius: 10% 10% 3% 10%;
    margin-left:3%;
    border: 4px solid rgba(11, 11, 11, 0.564);
    max-width: 50%;
}

.picture img{
    width:100%;
}

#julienPicture {
    -moz-transition:    -moz-transform 1s ease-out;
    -o-transition:      -o-transform 1s ease-out;
    -ms-transition:     -ms-transform 1s ease-out;
    transition: all 0.6s ease-in-out;
}

.picture span {
    text-align: end;
    padding-left: 39%;
    font-weight: bolder;
}

#signature {
    position: relative;
    display: inline-block;
    opacity: 0.8;
}

#signature img{
    width: 100%;
}

.infos{
    position: relative;
    border-radius: 2%;
    color:rgb(39, 41, 43);
    font-family: Calibri;
    font-size: larger;    
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    padding-top: 4%;
}

.infos .icons {
    transition: all 1s ease-in-out;
    max-width: 75px;
    max-height: 75px;
}

.infos img{
    max-width: inherit;
    max-height: inherit;
}

.fade {
    -webkit-animation-name: fade;            
    -webkit-animation-duration: 2s;
    
    animation-name: fade;
    animation-duration: 2s;
}

.mainpage {
    position:relative;
    max-height: max-content;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
      opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@media all and (max-width: 1000px) {

    .summary{
        text-align: justify;
    }

    .aboutMe{
        font-size: 17px;
        transition: all 1s ease;
    }

    .aboutMe:before {
        content: "";
        display: block;
        width: 20%;
        height: 2px;
        left: 0;
        top: 50%;
        position: absolute;
        transition: all 1s ease;
    }
    
    .aboutMe:after {
        content: "";
        display: block;
        width: 20%;
        height: 2px;
        right: 0;
        top: 50%;
        position: absolute;
        transition: all 1s ease;
    }
}

@media all and (max-width: 950px) {
    .summary{
        font-size: 14px;
    }

    .infos .icons{
        transition: all 1s ease;
    }

    .picture{
        display: none;
    }
    
    .summary {
        width: 100%;
        margin-left: 0%;
    }

    #summaryTitle{
        text-align: center;
        padding-top: 10%;
    }

    .navigation li a:hover {
        background: #656565b5;
        font-size: 10px;
        cursor: pointer;
    }

    .navigation li a{
        font-size: 10px;
    }

    .summaryAndpicture {
        justify-content: center;
    }

    .infos .icons{
        max-width: 45px;
        max-height: 45px;
    }

    .navigation li a{
        width: 110%;
    }

}