body{
    margin:0;
    font-size:16px;
    
    font-family:"Menlo", sans-serif;
    font-weight:400;
    line-height:1.8em;
    
    background-color: #111111;
    height: 100%;
  }


  .background {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 0.1;
}


/* ASIDE CONTENT */
  
.navigation {
    position: fixed;
    width: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #22222287;
    min-height:100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation li {
    flex-basis: 10%;
    flex-shrink: 1;
    padding-left: 20%;
    padding-right: 20%;
}

.navigation a {
    text-decoration: none;
    display: block;
    color: aliceblue;
    font-size: 20px;
    transition: font-size 0.05s ease-in;
    text-decoration: none;
    padding-top: 10%;
    padding-bottom: 10%;

    text-align: center;
    flex-direction: row;
}

.navigation a:hover {
    background: #656565b5;
    font-size: 30px;
    cursor: pointer;
}

.mySkills{
    position: relative;
    left:20%;
    color: aliceblue;
    width: 80%;

}


.centeredText {

    position: relative;
    text-align: center;  
}

.aboutMe {
    margin-top: 5%;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: aliceblue;
}
.aboutMe:before {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background: rgb(220, 220, 220);
    left: 0;
    top: 50%;
    position: absolute;
}

.aboutMe:after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background: rgb(220, 220, 220);
    right: 0;
    top: 50%;
    position: absolute;
}


/* Fading animation */
/* The prefix -webkit- is for Safari browser */
.fade {
  -webkit-animation-name: fade;            
  -webkit-animation-duration: 2s;

  animation-name: fade;
  animation-duration: 2s;
}

.addresscontainer{
    animation-name: fadeInLeft;
    animation-fill-mode: both;
    animation-duration: 1s;
}

.addresspanel{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contactform {
    flex-basis: 50%;
    animation-name: fadeInRight;
    animation-fill-mode: both;
    animation-duration: 1s;
    margin-bottom: 5%;
}



/* the -webkit-animation fade */
@-webkit-keyframes fade {
  from {
      opacity: .1
  }

  to {
      opacity: 1
  }
}

/* the animation fade */
@keyframes fade {
  from {
      opacity: .1
  }

  to {
      opacity: 1
  }
}

.innerprogressbar{
    height:24px;
    width:0%;
    background-color: aliceblue;
}

.skillsbox{
    position: relative;
    left:10%;
    width: 80%;
    background-color: #11111190;
    padding: 10px;
    border-radius: 5%;
}

.skillscontainer{
    margin-bottom: 10%;
}

.percentagenumber {
    text-align: center;
}

h2 {
    font-size: larger;
    font-weight: bolder;
}

.estimationbutton{
    float: right;
}

#map {
    height: 400px;
    width: 100%;
  }
  
input, textarea{
    
    display: block;
    margin-top: 10px;
    line-height: 30px;
    width: 100%;
    font-family:"Menlo", sans-serif;

}

#contact_message{
    line-height: 160px;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }
}



@media all and (max-width: 1000px) {

    .aboutMe{
        font-size: 17px;
        transition: all 1s ease;
    }

    .aboutMe:before {
        content: "";
        display: block;
        width: 20%;
        height: 2px;
        background: rgb(220, 220, 220);
        left: 0;
        top: 50%;
        position: absolute;
        transition: all 1s ease;
    }
    
    .aboutMe:after {
        content: "";
        display: block;
        width: 20%;
        height: 2px;
        background: rgb(220, 220, 220);
        right: 0;
        top: 50%;
        position: absolute;
        transition: all 1s ease;
    }
}

@media all and (max-width: 950px) {


    .navigation li a{
        font-size: 10px;
    }

    .navigation li a:hover{
        font-size: 10px;
    }

    .background {
        display: none;
        transition: all 1s ease;
    }

    .summaryAndpicture {
        justify-content: center;
    }

    .identityDisplay{
    }
}


@media all and (max-width: 650px) {

    .addresspanel{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}



