body{
  margin:0;
  font-size:16px;
  
  font-family:"Menlo", sans-serif;
  font-weight:400;
  line-height:1.8em;
  
  background-color: #111111;

  overflow: hidden;
}


/* ASIDE CONTENT */

.navigation {
  position: fixed;

  top: 0;
  left: 0;

  background: #22222287;
  height:100%;
  width: 20%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}

.navigation li {
  flex-basis: 10%;
  flex-shrink: 1;
  padding-left: 20%;
  padding-right: 20%;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: aliceblue;
  font-size: 20px;
  transition: font-size 0.05s ease-in;
  text-decoration: none;
  padding-top: 10%;
  padding-bottom: 10%;

  text-align: center;
  flex-direction: row;
}



.navigation a:hover {
  background: #333333a6;
  font-size: 30px;
  cursor: pointer;
}

/* END OF ASIDE CONTENT */


/* MAIN PAGE CONTENT */

.heading {
  color: aliceblue;
  position: absolute;
  left: 25%;
}

.heading1 {
top: 30%;
font-size: 40px;
}

.heading2 {
  top: 37%;
  font-size: 50px;
  font-weight: bold;
}

.heading3 {
  top: 45%;
  font-size: 40px;
}

.typed-cursor {
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-ms-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.heading4 {
  top: 60%;
  font-size: 40px;
}

.slideshow-container {
  opacity: 0.2;
}

img {
  max-width: 100%;
}

/* Fading animation */
/* The prefix -webkit- is for Safari browser */
.fade {
  -webkit-animation-name: fade;            
  -webkit-animation-duration: 2s;

  animation-name: fade;
  animation-duration: 2s;
}

/* the -webkit-animation fade */
@-webkit-keyframes fade {
  from {
      opacity: .1
  }

  to {
      opacity: 1
  }
}

/* the animation fade */
@keyframes fade {
  from {
      opacity: .1
  }

  to {
      opacity: 1
  }
}

/* END OF MAIN PAGE CONTENT */

/* SMALLER SCREENS DISPLAY CHANGES */

@media all and (max-width: 800px) {
    
  .navigation {
    flex-flow: column wrap;
    width: 30%;
  }

  .navigation a { 
    text-align: center; 
    padding: 20px;
    font-size: 15px; 
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .navigation a:hover {
    background: #333333a6;
    font-size: 20px;
    cursor: pointer;
  }

  .mySlides {
    height: 1000px;
  }

  .main-page {
    height: 1000px;
  }
  img {
    position: absolute;
    height: 700px;
  }

  .heading {
    left:40%
  }
  .heading1 {
    top: 30%;
    
    font-size: 15px;
    }
    
    .heading2 {
      top: 33%;
      font-size: 15px;
      font-weight: bold;
    }
    
    .heading3 {
      top: 45%;
      font-size: 15px;
    }
    
    .heading4 {
      top: 69%;
      font-size: 15px;
      text-decoration: underline;
    }
}

@media all and (max-width: 400px) {
  
  .navigation {
    flex-flow: column wrap;
    width: 50%;
  }

  .navigation a { 
    text-align: center; 
    padding: 20px;
    font-size: 15px; 
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .navigation a:hover {
  background: #333333a6;
    font-size: 20px;
    cursor: pointer;
  }

  .mySlides {
    height: 1000px;
  }

  .main-page {
    height: 1000px;
  }

  img {
    position: absolute;
    height: 900px;
  }

  .heading {
    left:55%
  }

  .heading1 {
    top: 30%;
    font-size: 15px;
  }

  .heading2 {
    top: 33%;
    font-size: 15px;
    font-weight: bold;
  }
  
  .heading3 {
    top: 45%;
    font-size: 15px;
  }
  
  .heading4 {
    top: 69%;
    font-size: 15px;
    text-decoration: underline;
  }
}