body{
  margin:0;
  font-size:16px;
  
  font-family:"Menlo", sans-serif;
  font-weight:400;
  line-height:1.8em;
  
  background-color: #111111;
  overflow: hidden;
}


/* MAIN PAGE CONTENT */

.identityDisplay{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  
}

.heading {
  color: aliceblue;
  left: 25%;
  position: relative;
  padding-top: 4%;
}

.heading1 {
font-size: 40px;
}

.heading2 {
  font-size: 50px;
  font-weight: bold;
}

.heading3 {
  font-size: 40px;
}

.typed-cursor {
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-ms-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.heading4 {
  font-size: 40px;
}

.slideshow-container {
  opacity: 0.2;
  position:fixed;
  top:0;
  left:0;
}

/* ASIDE CONTENT */

.navigation {
  position: fixed;

  top: 0;
  left: 0;

  background: #22222287;
  height:100%;
  width: 20%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation li {
  flex-basis: 10%;
  flex-shrink: 1;
  padding-left: 20%;
  padding-right: 20%;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: aliceblue;
  font-size: 20px;
  transition: font-size 0.05s ease-in;
  text-decoration: none;
  padding-top: 10%;
  padding-bottom: 10%;

  text-align: center;
  flex-direction: row;
}



.navigation a:hover {
  background: #656565b5;
  font-size: 30px;
  cursor: pointer;
}

/* END OF ASIDE CONTENT */


img {
  max-width: 100%;
}

/* Fading animation */
/* The prefix -webkit- is for Safari browser */
.fade {
  -webkit-animation-name: fade;            
  -webkit-animation-duration: 2s;

  animation-name: fade;
  animation-duration: 2s;
}

/* the -webkit-animation fade */
@-webkit-keyframes fade {
  from {
      opacity: .1
  }

  to {
      opacity: 1
  }
}

/* the animation fade */
@keyframes fade {
  from {
      opacity: .1
  }

  to {
      opacity: 1
  }
}

/* END OF MAIN PAGE CONTENT */

/* SMALLER SCREENS DISPLAY CHANGES */


@media all and (max-width: 1130px) {

    img{
      display: none;
    }

}



@media all and (max-width: 800px) {


    
  .navigation {
    flex-flow: column wrap;
  }

  .navigation a { 
    text-align: center; 
    padding: 20px;
    font-size: 15px; 
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .navigation a:hover {
    background: #656565b5;
    font-size: 20px;
    cursor: pointer;
  }

   .mySlides {
  }

  .main-page {
  }

  .heading {
    left:25%;
  }
  
  .heading1 {
    font-size: 25px;
  }
    
    .heading2 {
      font-size: 30px;
      font-weight: bold;
    }
    
    .heading3 {
      font-size: 25px;
    }
    
    .heading4 {
      font-size: 25px;
    }  
}

@media all and (max-width: 570px) {
  
  .navigation {
    flex-flow: column wrap;
    width: 30%;
  }

  .heading {
    left:40%;
  }
}
    .navigation a:hover {
      background: #656565b5;
      font-size: 15px;
      cursor: pointer;
    }



  @media (max-width: 570px) {
  
    .heading1 {
      font-size: 15px;
    }
      
      .heading2 {
        font-size: 20px;
        font-weight: bold;
      }
      
      .heading3 {
        font-size: 15px;
      }
      
      .heading4 {
        font-size: 15px;
      }  
  }

}


